<ion-header>
  <ion-navbar no-border-bottom>
	  <button ion-button menuToggle>
        <ion-icon name="ios-notifications-off-outline" *ngIf="!connected" (click)="connect()"></ion-icon>
		<ion-icon name="ios-notifications-outline" *ngIf="connected"></ion-icon>
      </button>
    <ion-segment [(ngModel)]="segment" (ionChange)="updateSchedule()">
      <ion-segment-button value="recent">最近の更新</ion-segment-button>
      <ion-segment-button value="availability">空室物件</ion-segment-button>
    </ion-segment>

    <ion-buttons end>
      <button ion-button icon-only (click)="presentFilter()">
        <ion-icon ios="ios-options-outline" md="md-options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<ion-refresher (ionRefresh)="doRefresh($event)">
		<ion-refresher-content>
		</ion-refresher-content>
	</ion-refresher>

  <ion-list #scheduleList [hidden]="shownSessions === 0">

    <ion-item-group *ngFor="let item of items" [hidden]="item.hide">

      <ion-item-divider sticky>
        <ion-label>
          {{item.sikubu}}
        </ion-label>
      </ion-item-divider>

      <ion-item-sliding #slidingItem>

        <button ion-item>
          <h3>{{item.name}}</h3>
          <p>
            {{item.madori}} &mdash;
            {{item.yachin}}:&mdash;
            {{item.yukamenseki}}
          </p>
        </button>
      </ion-item-sliding>

    </ion-item-group>

  </ion-list>

  <ion-fab bottom right #fab>
    <button ion-fab><ion-icon name="share"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab color="vimeo" (click)="openSocial('Vimeo', fab)"><ion-icon name="logo-vimeo"></ion-icon></button>
      <button ion-fab color="google" (click)="openSocial('Google+', fab)"><ion-icon name="logo-googleplus"></ion-icon></button>
      <button ion-fab color="twitter" (click)="openSocial('Twitter', fab)"><ion-icon name="logo-twitter"></ion-icon></button>
      <button ion-fab color="facebook" (click)="openSocial('Facebook', fab)"><ion-icon name="logo-facebook"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
